<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>All Companies</h1>
    <a href="/api/companies/new">Add new Company</a>
    <%for(let company of companies){%>
    <div>
        <p>
            <a href="/api/companies/<%=company._id%>"> <%=company.name%></a>
            <a href="/api/companies/<%=company._id%>/edit">Edit</a>
            <form action="/api/companies/<%=company._id%>?_method=DELETE" method="post">
                <button>Delete</button>
            </form>
        </p>
    </div>
    <%}%>
</body>

</html>