<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>Company</h1>
    <form action="/api/companies" method="post">
        <input type="text" name="name" placeholder="enter the  name"> <br>
        <input type="text" name="address" placeholder="enter the address"> <br>
        <button>create</button>
    </form>
</body>
</html>