<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
        <h1>Login</h1>
        <div>
            <form action="/login" method="POST">
                <div>
                    <lable for="username">Username</lable>
                    <input name="username" placeholder="username" id="username" type="text"  required/>
                </div>
                <div>
                    <lable for="password">Password</lable>
                    <input name="password" placeholder="password" id="password" type="password" required/>
                </div>
                <button>Login</button>
            </form>
            <a href="/signup">Signup</a>
        </div>
    </div>
</body>
</html>