<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Signup on StockWise</h1>
        <div>
            <form action="/signup" method="POST">
                <div>
                    <lable for="username">Username</lable>
                    <input name="username" placeholder="username" id="username" type="text"/>
                </div>
                <div>
                    <lable for="email">Email</lable>
                    <input name="email" placeholder="xyz@gmail.com" id="email" type="text"/>
                </div>
                <div>
                    <lable for="password">Password</lable>
                    <input name="password" placeholder="password" id="password" type="password"/>
                </div>
                <button>SignUp</button>
            </form>
        </div>
    </div>
</body>
</html>