/* global background div for whitespace  */
.global {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  z-index: -1000;
}

/* dashboard layout  */
.app_stocks_dashboard {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  background-color: var(--background-color);
  padding-top: 5rem;
}

/* dashboard layout inner  */
.stocks_dashboard {
  width: 32.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  height: inherit;
}

/* dashboard heading  */
.stocks_dashboard_heading {
  width: 32.5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 7rem;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 700;
  color: var(--headline);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.stocks_dashboard_button {
  color: var(--button-text);
  background-color: var(--button);
  border: 0.15rem solid var(--background-color);
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 1.2rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 1rem;
}

/* dashboard blocks grouped */
.stocks_dashboard_blocks {
  z-index: inherit;
}

/* single dashboard block  */
.stocks_dashboard_block {
  background-color: var(--headline);
  padding: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  width: 32.5rem;
  cursor: pointer;
}

.stocks_dashboard_block_name {
  font-size: 2rem;
  line-height: 1.875rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.block_name_tag {
  color: var(--card-highlights);
  font-size: 1.125rem;
  font-weight: 500;
}

.stocks_dashboard_block_address {
  color: var(--paragraph);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 0.6rem;
}

.stock_span {
  color: var(--background-color);
  font-size: 1.125rem;
  font-weight: 700;
}

.stocks_dashboard_block_contactEmail {
  color: var(--paragraph);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 0.5rem;
}

.stocks_dashboard_block_contactNumber {
  color: var(--paragraph);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7;
}

/* media query */
@media (max-width: 1056px) {
  .stocks_dashboard_heading {
    width: 32.5rem;
    position: static;
    position: -webkit-sticky;
    top: 0;
  }
  .stocks_dashboard_button {
    margin-bottom: 1rem;
  }

  .app_stocks_dashboard {
    padding-top: 2rem;
  }
}

@media (max-width: 575px) {
  .stocks_dashboard_heading {
    font-size: 1.8rem;
    text-align: start;
    justify-content: start;
    align-items: start;
    margin-left: 1rem;
  }

  .stocks_dashboard_block {
    width: 100%;
    padding: 2.5rem;
    width: 90vw;
    margin-bottom: 1rem;
  }

  .stocks_dashboard_button {
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .stocks_dashboard_heading {
    font-size: 1.8rem;
    text-align: start;
  }

  .stocks_dashboard_block {
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
    width: 90vw;
  }
}
